# Auto-deployment of documentation to GitHub Pages
# Published on every master commit to: https://jtebert.github.io/kilosim/
#
# Based on the example at: https://gist.github.com/vidavidorra/548ffbcdae99d752da02
# And particularly this comment: https://gist.github.com/vidavidorra/548ffbcdae99d752da02#gistcomment-1958817

# This will run on Travis' 'new' container-based infrastructure
sudo: false

# Blacklist
branches:
  only:
    - master

# Environment variables
env:
  global:
    - GH_REPO_NAME: kilosim
    - DOXYFILE: $TRAVIS_BUILD_DIR/Doxyfile
    - GH_REPO_REF: github.com/jtebert/kilosim.git

# Install dependencies
addons:
  apt:
    packages:
      - doxygen
      - doxygen-doc
      - doxygen-latex
      - doxygen-gui
      - graphviz
      - libsfml-dev
      - libhdf5-dev
      - libomp-dev

# Build your code e.g. by calling make
script:
  - mkdir build
  - cd build
  - cmake ..
  - make kilosim_docs
  - make install

# Deploy using travis builtin GitHub Pages support
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: $TRAVIS_BUILD_DIR/docs/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: master